# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Send aamut

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Send aamut'
        # Default value if no value is explicitly provided
        default: 'Send aamut'
        # Input has to be provided for the workflow to run
        required: true
# Summer time: 10:00
# Winter time 9:00
env:
  WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
  WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
  
jobs:
  bot:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: node app.js
    - name: Configure Git and add files
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "tj[bot]"
        git add -A
    - name: Commit
      id: can_commit
      run: |
        commit_message=$(git commit -m "Updated aamu runtimes" -a | tr -d '\n' || true)
        echo "::set-output name=commit_message::$commit_message"
    - name: Push or leave
      id: nothing_committed
      if: false == contains(steps.can_commit.outputs.commit_message, 'nothing to commit')
      run: git push origin master
